* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Navbar Section */
.navbar {
    background-color: #e06120;
    padding: 15px 25px;
    font-size: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-left i {
  color: white;
  margin-right: 10px;
}

.navbar .fa-utensils {
    color: white;
}

.navbar a{
    font-family: 'Gotham Rounded', 'Avenir Next Rounded', 'Nunito', sans-serif;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    padding-left: 10px;
}


/* Hero Section */
.hero-image {
    width: 100%;    
    height: 60vh;      
    overflow: hidden;
    position: relative;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%) contrast(120%);
}

.search-section{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.input-section{
  width: 80%;
  height: 60px;
  border-radius: 30px;
  padding: 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-section .fa-magnifying-glass {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: #e06120;
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.text-heading-section{
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    position: absolute;      
    top: 55%;                
    left: 50%;             
    transform: translate(-50%, -50%);          
    width: 60%;    
    height: 10%; 
    border-radius: 30px;    
    padding: 30px;    
    font-size: 35px;
    color: white;
}

.text-para-section {
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    position: absolute;      
    top: 75%;                
    left: 65%;             
    transform: translate(-50%, -50%);           
    width: 60%;    
    height: 10%; 
    border-radius: 30px;    
    padding: 30px;    
    font-size: 20px;
    color: white;
}

/* Categories Section */
.categories-container {
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

.categories-heading {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.categories-heading h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 10px;
    display: inline-block;
    position: relative;
    filter: brightness(200%);
}

.categories-heading h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 40%;           
    height: 5px;
    background-color: orangered;
}


#categories {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  justify-items: center;
  gap: 50px;                  
  padding: 0px 80px;                 
  box-sizing: border-box;
}

#categories img:hover {
  transform: scale(1.05);  
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.category-card {
    position: relative; 
    width: 100%;
    max-width: 300px;
}


.category-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.category-card p {
    position: absolute;  
    top: 10px;             
    right: 10px;          
    margin: 0px;
    background-color: #e06120;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

/* Footer Section */
.copyright {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.copyright strong:hover {
    color: #e06120;
    transition: color 0.3s ease;
    cursor: pointer;
}