* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Navbar Section */
.navbar {
    background-color: #e06120;
    padding: 15px 25px;
    font-size: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-left i {
  color: white;
  margin-right: 10px;
}

.navbar .fa-utensils {
    color: white;
}

.navbar a{
    font-family: 'Gotham Rounded', 'Avenir Next Rounded', 'Nunito', sans-serif;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    padding-left: 10px;
}

/* Hero Section */
.hero-image {
    width: 100%;    
    height: 60vh;      
    overflow: hidden;
    position: relative;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%) contrast(120%);
}

.search-section{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.input-section{
  width: 80%;
  height: 60px;
  border-radius: 30px;
  padding: 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-section .fa-magnifying-glass {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: #e06120;
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.text-heading-section{
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    position: absolute;      
    top: 55%;                
    left: 50%;             
    transform: translate(-50%, -50%);          
    width: 60%;    
    height: 10%; 
    border-radius: 30px;    
    padding: 30px;    
    font-size: 35px;
    color: white;
}

.text-para-section {
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    position: absolute;      
    top: 75%;                
    left: 65%;             
    transform: translate(-50%, -50%);           
    width: 60%;    
    height: 10%; 
    border-radius: 30px;    
    padding: 30px;    
    font-size: 20px;
    color: white;
}
